{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>

<!-- 画像が表示されない・・・！ -->
<img src="{% static 'garden/images/myamori.jpeg' %}" alt="野菜">
<h3>美味しい採れたての野菜</h3>
<ul>
    {% for vegetable in vegetables %}
    <li>
        {{ vegetable.name }}
    </li>
    {% endfor %}
</ul>
<br>
<!-- この下にformを追加 -->
<form action="/" method="post">
    {% csrf_token %}
    <h3>感想をどうぞ</h3>
    {{ form.as_p }}
<input type="submit" value="送信">
</form>

<ul>
    {% for co in comments %}
    <li>
        {{ co.name }}: {{ co.message }} ({{ co.created_at }})
    </li>
    {% endfor %}
</ul>

<!-- この下にいいね用formを追加 -->

<p>欲しい方は電話してください。</p>
<p>電話番号: 2222-XXXX</p>
</body>
</html>
